repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-format
      - id: ruff-check

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: detect-private-key
      - id: check-added-large-files

  - repo: https://github.com/rbubley/mirrors-prettier
    # fork of official repo which is discontinued
    rev: v3.7.4
    hooks:
      - id: prettier
        types_or: [markdown, toml, yaml, json, dockerfile, shell, sql]
        additional_dependencies:
          - prettier@3.6.2
          - prettier-plugin-toml@2.0.6
          - prettier-plugin-sh@0.18.0
          - prettier-plugin-sql@0.19.2
          # for plugins see https://prettier.io/docs/plugins#community-plugins
        args: [--print-width=80, --prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: [tomli]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
